@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll {
  overflow: hidden;
}

@layer base {
  body {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  :target {
    scroll-margin-top: 80px; /*Adding navbar size to the margin*/
  }
}

@layer utilities {
  h1 {
    @apply text-3xl;
    @apply tracking-tight;
    font-weight: 700;
  }
  h2 {
    @apply text-2xl;
    @apply tracking-tight;
    font-weight: 600;
  }
  h3 {
    @apply text-xl;
    @apply tracking-tight;
    font-weight: 500;
  }
}
